redirection and relative URLs

Hello.

I have this HTTP server sitting behind an HTTPS proxy. My uses can not access the hidden HTTP server. They are supposed to always go though HTTPS proxy.

So the user is using HTTPS URL "https://.../app", whereas the server sees HTTP URL "http://.../app".

Sometimes my app issues HTTP redirect using relative URL "./new_page", either raising HTTPFound("./new_page") exception or explicitly returning Response with status=302/301 and headers {"Location":"./new_page"}.
In both cases, WebOb converts my relative URL "./new_page" to absolute "http://.../new_page" including HTTP schema. So the user is redirected to HTTP URL, which is unavailable to user.

Is there a good reason why WebOb converts my relative redirection URL to absolute including schema and is there a way to stop WebOb doing that ?

Thanks.

Can you provide a reproducible example that demonstrates the behavior you observe?

It is unlikely that this is an issue in WebOb, and it is more likely an issue in your web server configuration or app's URL generation. Check both, and log requests to trace the issue.

I am pretty sure it's done by webob. Here is the piece of code in response.py I found:

```
    @staticmethod
    def _make_location_absolute(environ, value):
        if SCHEME_RE.search(value):
            return value

        new_location = urlparse.urljoin(_request_uri(environ), value)
        return new_location

    def _abs_headerlist(self, environ):
        # Build the headerlist, if we have a Location header, make it absolute
        return [
            (k, v) if k.lower() != 'location'
            else (k, self._make_location_absolute(environ, v))
            for (k, v)
            in self._headerlist
        ]

...
    def __call__(self, environ, start_response):
        """
        WSGI application interface
        """
        if self.conditional_response:
            return self.conditional_response_app(environ, start_response)

        headerlist = self._abs_headerlist(environ)



```

Here is the code sample:

```
from wsgiref.util import setup_testing_defaults
from wsgiref.simple_server import make_server

from webob import Response

def app(environ, start_response):
    headers = [('Location', './new_page')]
    r = Response("redirected", status=301, headers=headers)
    return r(environ, start_response)

httpd = make_server('', 8000, app)
httpd.serve_forever()
```


and here is how it works:

```
$ curl -vS http://localhost:8000/app
*   Trying ::1...
* TCP_NODELAY set
* Connection failed
* connect to ::1 port 8000 failed: Connection refused
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 8000 (#0)
> GET /app HTTP/1.1
> Host: localhost:8000
> User-Agent: curl/7.54.0
> Accept: */*
> 
* HTTP 1.0, assume close after body
< HTTP/1.0 301 Moved Permanently
< Date: Fri, 26 Jun 2020 19:39:00 GMT
< Server: WSGIServer/0.2 CPython/3.7.6
< Location: http://localhost:8000/new_page
< Content-Length: 10
< 
* Closing connection 0
```

As you can see, the Location header is absolute instead of relative

Also, I found this in the comments to _HTTPMove class - superclass of HTTPFound and HTTPMovedPermanently exceptions:

```
class _HTTPMove(HTTPRedirection):
    """
    redirections which require a Location field

    Since a 'Location' header is a required attribute of 301, 302, 303,
    305, 307 and 308 (but not 304), this base class provides the mechanics to
    make this easy.

    You can provide a location keyword argument to set the location
    immediately.  You may also give ``add_slash=True`` if you want to
    redirect to the same URL as the request, except with a ``/`` added
    to the end.

    Relative URLs in the location will be resolved to absolute.
    """
```

and here is my code using HTTPMovedPermanently exception:

```
from wsgiref.util import setup_testing_defaults
from wsgiref.simple_server import make_server

from webob.exc import HTTPMovedPermanently

def app(environ, start_response):
    r = HTTPMovedPermanently(location='./new_page')
    return r(environ, start_response)

httpd = make_server('', 8000, app)
httpd.serve_forever()```

and here is its response:

```
$ curl -vS http://localhost:8000/app
*   Trying ::1...
* TCP_NODELAY set
* Connection failed
* connect to ::1 port 8000 failed: Connection refused
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 8000 (#0)
> GET /app HTTP/1.1
> Host: localhost:8000
> User-Agent: curl/7.54.0
> Accept: */*
> 
* HTTP 1.0, assume close after body
< HTTP/1.0 301 Moved Permanently
< Date: Fri, 26 Jun 2020 19:53:27 GMT
< Server: WSGIServer/0.2 CPython/3.7.6
< Location: http://localhost:8000/new_page
< Content-Length: 272
< Content-Type: text/html; charset=UTF-8
< 
<html>
 <head>
  <title>301 Moved Permanently</title>
 </head>
 <body>
  <h1>301 Moved Permanently</h1>
  The resource has been moved to <a href="http://localhost:8000/new_page">http://localhost:8000/new_page</a>;
you should be redirected automatically.


 </body>
* Closing connection 0

```

You should make sure that your WSGI environment contains all of the proper information. Waitress for example contains a bunch of configuration you can use to use the `X-Forwarded-*`/`Forwarded` header to properly setup the WSGI environment.

RFC2616 section 14.30 Location: (https://tools.ietf.org/html/rfc2616#section-14.30) says:

> Location       = "Location" ":" absoluteURI

This is why WebOb will automatically use the information from the WSGI environment to return an absolute URI. The newer RFC's (specifically RFC7231 Section 7.1.2 allows for a relative URI (https://tools.ietf.org/html/rfc7231#section-7.1.2)), however WebOb has not been updated to follow that change and make it configurable.

My recommendation would be to make sure your WSGI environment is properly configured anyway to make sure it can create the appropriate URI's.

This is not a bug in WebOb.

What are your recommendations as to how to configure my WSGI environment ?

So if I understand you correctly, WebOb currently does not comply with IETF standard ? If this is not a bug, should it be a feature request then ?


WebOb complies with the older standards in the older RFC. This does not violate the newer RFC's that have replaced it, the newer RFC's allow for the return of relative URL's or absolute URI's.

My recommendation is to use WSGI middleware that fixes up the WSGI environment using headers your proxy server should be sending. (Such as `X-Forwarded-*` headers or `Forwarded` headers).

For example: https://docs.pylonsproject.org/projects/pastedeploy/en/latest/modules/config.html#paste.deploy.config.PrefixMiddleware

May be used (just set the prefix to / for it to not do prefix translation) for this purpose.

There's also this middleware available on PyPI: https://pypi.org/project/WsgiUnproxy/

If you are using Waitress, it's built-in and you can turn it on with a couple of config flags.