AcceptLanguage _match leads best_match to ignore specificity

Hello,

If best_match is passed:

``` python
offers=['en', 'en-GB'] # Order important
```

and there is an 'en-GB' mask with quality 1, and an 'en' mask with quality 0.8, then 'en' will be considered the best match with 'en-GB', due to:

``` python
or item == mask.split('-')[0] # From AcceptLanguage._match()
```

So I suspect there needs to be some tiebreaking logic specific to languages, to replace:

``` python
# 'text/plain' overrides 'message/*' overrides '*/*'
# (if all match w/ the same q=)
if matched_by.count('*') <= mask.count('*'):
    continue
```


Accept handling is all kinds of special in HTTP...

But I am not sure that WebOb is wrong:

```
offers=['en', 'en-GB']
mask='en-GB, en;q=0.8'
```

It is acceptable to return `en` according to [RFC4647](https://tools.ietf.org/html/rfc4647#section-3)  `Section 3.3.1 Basic Filtering`. 

>   A language range matches a
>   particular language tag if, in a case-insensitive comparison, it
>   exactly equals the tag, or if it exactly equals a prefix of the tag
>   such that the first character following the prefix is "-".

Since both `en` and `en-GB` both have the same weight, 1 in this case, it matches the above from the RFC. Accept handling unfortunately is not entirely sane.

WebOb could implement the Extended Filtering described in 3.3.2 and I wouldn't be opposed to a patch that would implement that, so long as it doesn't break the existing implementations.

We may use the similar logic: https://github.com/Pylons/webob/blob/master/webob/acceptparse.py#L155

By the way, this logic doesn't seem to be correct:
Consider `a-*-c; a-b-*;` Both have same number of `*`, but when matching against `a-b-c`,  `a-b-*` should take priority, as it is more specific.

What valid "language" has three dashes in it? IIRC `en` and `en-GB` are valid languages, there is no `en-GB-something`. This is because the first element `en` is the language code, and the second element `GB` would indicate the country code.

See https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.4

@bertjwregeer There are plenty examples in RFC: https://tools.ietf.org/html/rfc4647#section-3.4
Most browser don't have that detailed, but more than two subtags in a tag is valid. 
Also, see that `*-CH` example at the end of Section 3.4

I've spent a lot of time poring over the RFCs on this issue, and will try to summarise my understanding:

Code demonstrating the issue:

    >>> from webob import Request
    >>> r = Request.blank("/", accept_language="en-GB, en;q=0.8")
    >>> r.accept_language.best_match(offers=["en", "en-GB"])
    'en'

The reference RFC for HTTP/1.1 `Accept-Language` header handling is RFC 7231. [Section 5.3.5](https://tools.ietf.org/html/rfc7231#section-5.3.5) says:

> For matching, [Section 3 of [RFC4647]](https://tools.ietf.org/html/rfc4647#section-3) defines several 
 matching schemes.  Implementations can offer the most appropriate matching scheme for their requirements.  The "Basic Filtering" scheme ([[RFC4647], Section 3.3.1](https://tools.ietf.org/html/rfc4647#section-3.3.1)) is identical to the matching scheme that was previously defined for HTTP in [Section 14.4 of [RFC2616]](https://tools.ietf.org/html/rfc2616#section-14.4).

It is unclear whether "Implementations can offer the most appropriate matching scheme for their requirements" is intended to mean:

* we must use the three matching schemes in RFC4647; or
* the matching schemes are recommended, but other matching schemes are allowed; or
* the three matching schemes are only examples of possible matching schemes.

Given that lack of clarity, it seems that for WebOb, sticking to the three matching schemes in RFC4647 would be the best option.

<br>
<br>

RFC4647 specifies three matching schemes: basic filtering, extended filtering, and lookup. The most relevant differences between the three matching schemes for this issue are:

["Language ranges" are from the client, and "language tags" are from the server (i.e. the `offers` in WebOb)]

[**Filtering**](https://tools.ietf.org/html/rfc4647#section-3.3)

> Filtering is used to select the set of language tags that matches a given language priority list.  It is called "filtering" because this set might contain no items at all or it might return an arbitrarily large number of matching items: as many items as match the language priority list, thus "filtering out" the non-matching items...

> ...each language range represents the least specific language tag (that is, the language tag with fewest number of subtags) that is an acceptable match.  All of the language tags in the matching set of tags will have an equal or greater number of subtags than the language range.  Every non-wildcard subtag in the language range will appear in every one of the matching language tags.

> [For basic filtering] A language range matches a particular language tag if, in a case-insensitive comparison, it exactly equals the tag, or if it exactly equals a prefix of the tag such that the first character following the prefix is "-".

e.g. The range "de-CH" matches "de-CH-1996", but never "de".

Basic filtering compares basic language ranges to language tags, whereas extended filtering compares extended language ranges to language tags.

[**Lookup**](https://tools.ietf.org/html/rfc4647#section-3.4)

> ...used to select the single language tag that best matches the language priority list for a given request...

> By contrast with filtering, each language range represents the most specific tag that is an acceptable match. The first matching tag found, according to the user's priority, is considered the closest match and is the item returned... If no language tag matches the request, the "default" value is returned.

e.g. Language range "de-ch" matches language tags "de" or "de-CH", but never "de-CH-1996".

<br>
<br>

Going back to the code demonstrating the issue at the beginning of this comment:

    >>> from webob import Request
    >>> r = Request.blank("/", accept_language="en-GB, en;q=0.8")
    >>> r.accept_language.best_match(offers=["en", "en-GB"])
    'en'

Basic and extended filtering would return a *set* of matching tags (so here they would return `{'en-GB', 'en'}`). Lookup would return "the first matching tag found, according to the user's priority", which would be `'en-GB'`.

So `AcceptLanguage.best_match()` is not returning the correct result, by *any* of the matching schemes in RFCs 7231 and 4647. It is not returning the correct result even by the matching scheme specified in RFC2616, which is somewhat similar (though not identical, despite what RFC7231 says) to basic filtering &mdash; the matching scheme specified in RFC2616 would return `{'en': 0.8, 'en-GB': 1}`.

Of course, as `best_match()` is intended to return one and only one language tag, that rules out basic and extended filtering, which both return a set (together with the matching scheme in RFC2616, which is similar to basic filtering, but would return a dict). That leaves us with lookup, which is the one most in line with the idea of a `best_match()` &mdash; it is even specified to return a default value if no language tag matches the request, as `best_match()` currently does.

However, `best_match()` handles specificity differently. This in [`AcceptLanguage._match()`](https://github.com/Pylons/webob/blob/master/webob/acceptparse.py#L241):

            or item.split('-')[0] == mask
            or item == mask.split('-')[0]

means that it matches more *and* less specific language tags (and only handles tags with two subtags, but we will come back to that in a moment). So it is a match if the whole of the client language range matches the first subtag of the language tag from `offers`; it is *also* a match if the first subtag of the client language range matches the whole of the language tag from `offers`. 

e.g.
* "en-GB" from client would match "en" from `offers`
* and "en" from client would match "en-GB" from `offers`

So we get the current behaviour of WebOb:

    >>> Request.blank("/", accept_language="en-GB").accept_language.best_match(offers=["en"])
    'en'
    >>> Request.blank("/", accept_language="en").accept_language.best_match(offers=["en-GB"])
    'en-GB'

None of the matching schemes specified in any of the RFCs behaves this way: the filtering matching schemes (and the one specified in RFC2616) match equally or more specific language tags:

e.g. The range "de-CH" matches "de-CH-1996", but never "de",

while lookup matches equally or less specific language tags:

e.g. Language range "de-ch" matches language tags "de" or "de-CH", but never "de-CH-1996".

But none of them does it in both directions.

This was introduced in commit https://github.com/pylons/webob/commit/e25a70423508a1d051deea8d3d333485feb29cbb, but there is no indication in the commit as to why.

<br>
<br>

In fact, `best_match()` seems to implement its own algorithm, that doesn't follow any of the RFCs. It matches more *and* less specific language tags, as mentioned. It also multiplies the qvalues from the client by `server_quality` values, even though this is not mentioned in any of the RFCs. `server_quality` has been there from the very first commit (https://github.com/Pylons/webob/commit/0e714afa6f012eb22284644965e22b23c38883ea), though there is no indication as to why. The closest thing to this multiplication I have been able to find is the "quality-of-source" factor in the httpd Negotiation Algorithm in [this Apache document on content negotiation](https://httpd.apache.org/docs/current/content-negotiation.html), but the multiplication there is only used for the `Accept` header, *not* the `Accept-Language` header. (And if server quality values need to be taken into account, multiplying seems a particularly difficult-to-reason way of doing it.)

The docstring for `.best_match()` states that

> If two matches have equal weight, then the one that shows up first in the `offers` list will be returned.

> But among matches with the same quality the match to a more specific requested type will be chosen. For example a match to text/\* trumps \*/\*.

This is difficult to understand. But reading the code, the implementation chooses the one with the highest multiplied qvalue as the best match; if there are any ties, then the one with the higher specificity wins; and if there is a tie in specificity, then the one that is further left in position in `offers` wins.

So matching more *and* less specific language tags as mentioned earlier, together with this tie-breaking order, means `.best_match()` returns `'en'` in the code demonstrating the issue.

<br>
<br>

To resolve this bug, it might seem we could replace `.best_match()` with an implementation of the lookup matching scheme (putting aside backward compatibility for the moment) &mdash; lookup would return `'en-GB'`. However, looking at the examples of applications for the matching schemes in RFC4647, we can see that there is not really just one sense of a "best match": what is a best match depends on the application, and for some applications we would need to match equally or more specific language tags; for some others we would need to match equally or less specific language tags; for some, it might even make sense to match in both directions of specificity, as WebOb currently does, though this is not specified in any of the RFCs. The lookup matching scheme is only one particular kind and one particular meaning of a "best match".

So it seems to me that a `.best_match()` does not actually make sense for the `Accept-Language` header. If WebOb would like to be helpful, it could implement the three matching schemes of basic filtering, extended filtering, and lookup, as methods of `AcceptLanguage`, and let the user choose which scheme is suitable for their purpose. (e.g. for this issue, the user might use `AcceptLanguage.lookup()`, which would return `'en-GB'`.)

Moreover, I would propose that we expose `self._parsed`, so that if none of the matching schemes that WebOb implements suits the user's purpose, they could at least have the convenience of having the header parsed for them, with which they can then implement their own handling.
 (`list(request.accept_language)` only returns the language ranges from `self._parsed_nonzero`, dropping the language ranges with `q=0`, which may be important information.) I would need to spend more time looking at WebOb's handling of the other `Accept*` headers to be sure, but it seems that it would be a good idea to expose `self._parsed` for all the `Accept*` headers, and allow the user to get a parsed form of the header without having to use WebOb's methods.

<br>
<br>

On the issue of the maximum number of dashes/number of subtags to expect in a language tag, [RFC7231 Section 5.3.5](https://tools.ietf.org/html/rfc7231#section-5.3.5) is very confused:

* In the first paragraph, it points to a definition of language tags in [section 3.1.3.1](https://tools.ietf.org/html/rfc7231#section-3.1.3.1)... which says that 'Accept-Language` uses the broader language-range production defined in Section 5.3.5', taking us back to Section 5.3.5, and leaving us in an infinite loop.
* The syntax section after the first paragraph points to [RFC4647, Section 2.1](https://tools.ietf.org/html/rfc4647#section-2.1), which defines the basic language range. But if only basic language ranges were accepted in the header (and extended language ranges were not), then the suggestion later in the section of using the extended filtering matching scheme would make little sense, as extended filtering is for extended language ranges.
* But if we go back to Section 3.1.3.1, ignore the link directing us back to Section 5.3.5, and take the paragraph starting "A language tag is a sequence of one or more case-insensitive subtags..." to apply to both `Accept-Language` and `Content-Language`, then language tags can have more than two subtags (and more than one hyphen):
  <blockquote>
  Example tags include:

       fr, en-US, es-419, az-Arab, x-pig-latin, man-Nkoo-GN
  </blockquote>
  WebOb currently only expects language tags with two subtags (one hyphen), but the algorithms for the matching schemes in RFC4647 are specified to handle more than two subtags.

(It is also worth noting that [RFC4647's section on Extended Filtering](https://tools.ietf.org/html/rfc4647#section-3.3.2), for example, explains why "`*`"s in other positions than first are ignored for extended filtering &dash; so "`*`"s do not always carry the same meaning.)


I think a new `Accept.lookup()` api is a fantastic idea to better indicate the algorithm being used.

:+1: this is an excellent idea. I think as it stands right now `best_match()` is the same as for the other `Accept` headers, and splitting it off into a separate functions for the different lookup/filtering functions would be fantastic.

Any work done here that could also improve the Accept handling in general would be greatly appreciated as well. The RFC's are sometimes very underspecified and leave implementation developers guessing. It may be an idea too to implement the functionality, then write an updated RFC to update the existing ones to allow for a more sane implementation and better specified one.

Great &mdash; would be happy to work on the methods for the three matching schemes. Though that leaves the question of what to do with the existing `AcceptLanguage.best_match()` &mdash; deprecate with warning and eventually remove?

(That also raises the question of whether there is a reason the handling for the four headers needs to inherit from the same base class? From what I've seen of the `Accept` and `Accept-Language` headers so far, there are enough differences, both subtle and not-so-subtle, between them that it doesn't seem to make sense for them to inherit from the same base class. If they can be separated into their own classes, I think they would be a lot easier to understand and work with.)

When you say improve the Accept handling @bertjwregeer, I take it you mean all the Accept* headers in acceptparse.py, not just the `Accept` header itself? I've started reviewing acceptparse.py, and have found a few issues so far. Would it be okay if, say, I open an issue for each Accept* header, and an issue for the overall acceptparse.py review, so we can discuss issues and questions as they come up? (I could open an issue for each individual question that comes up, but I think it would be easier to see the big picture if we could discuss them together for each header, and for the module as a whole.)

Also, when you say write an updated RFC, do you mean an RFC to the WebOb and Pylons community?

(I've also spent some time looking at the related issue of https://github.com/Pylons/pyramid/issues/1264, and am reasonably confident we can resolve that too.)

> Great — would be happy to work on the methods for the three matching schemes. Though that leaves the question of what to do with the existing AcceptLanguage.best_match() — deprecate with warning and eventually remove?

Yes, we'd just make it warn about deprecation, and two to three versions from now we will pull it out of the code.

> That also raises the question of whether there is a reason the handling for the four headers needs to inherit from the same base class?

I don't believe that there is a good reason to do so, other than that it made sense at the time the code was written to allow for easy re-use. I don't see an issue changing that to be honest.

> When you say improve the Accept handling @bertjwregeer, I take it you mean all the Accept* headers in acceptparse.py, not just the Accept header itself?

Yes, there are certain parts of the code that could be improved upon. Feel free to open issues as necessary. I think AcceptLanguage is a great place to start, but if we are cleaning up the code base in general, it will be nice to do a once-over on the rest of them too.

> Also, when you say write an updated RFC, do you mean an RFC to the WebOb and Pylons community?

No, I mean an RFC that is submitted to the IETF, and can get commented on by everyone in the community that is implementing these standards. If during implementation (and your comments above are fantastic) we find issues, let's figure out the best way forward and correct them and make it clear to implementers how this should be implemented.

> [...] RFC7231 Section 5.3.5 is very confused [...]

Is what you posted there, along with some circular reasoning/logic. That's what follow-up RFC's/errata are supposed to fix. Thus allowing the standard to grow and improve for everyone involved. The insights gained throughout this refactoring process would be a great resource on figuring out the sharp pointy edges of the standards and smooth them out.

> I don't believe that there is a good reason to do so, other than that it made sense at the time the code was written to allow for easy re-use. I don't see an issue changing that to be honest.

Do you mean you think they should continue to inherit from the same base class, or that there shouldn't be any issues if we want to separate them?

I'll open the issues in the next few days, when I find a bit more time. It did cross my mind to maybe submit some kind of errata to the RFC, but didn't even know that we could write RFCs as individuals unaffiliated with the IAB, IETF, and IRTF. Hopefully errata will be enough though, and you'd think someone would've written it up already... but we'll see &mdash; happy to discuss it after the issues are resolved for WebOb and Pyramid :)

> Do you mean you think they should continue to inherit from the same base class, or that there shouldn't be any issues if we want to separate them?

Sorry if I wasn't clear. I don't think we should continue to inherit from the same base class. Let's check and see what tests exist, and see if some quick Google searches bring up any code that expects it to inherit from the same base class, but I think separating it out is a good idea.

> It did cross my mind to maybe submit some kind of errata to the RFC, but didn't even know that we could write RFCs as individuals unaffiliated with the IAB, IETF, and IRTF.

Anyone can submit anything, it's a different matter if it gets accepted. Either way I'd be willing to help and champion errata/RFC's to fix the current mess :-).

Thanks :) As the discussion involving the other headers and the module as a whole is not directly related to this issue, I've opened https://github.com/Pylons/webob/issues/314 and continued the discussion there &mdash; hope that's all right. I'll open an issue that focuses on `Accept-Language` handling, and include this bug and other issues I've found, when I find a bit more time to finish the review of WebOb's current implementation.

Re-reading the RFCs (again), I think I'm getting a better sense of what they mean. I wrote before that:

> * In the first paragraph, it points to a definition of language tags in section 3.1.3.1... which says that '`Accept-Language` uses the broader language-range production defined in Section 5.3.5', taking us back to Section 5.3.5, and leaving us in an infinite loop.

On re-reading, I think that by 'uses the broader language-range production defined in Section 5.3.5', they mean starting from the ABNF (rather than from the start of the section, which *would* be an infinite loop), and including the next paragraph about associated quality values. So the intent was to send us to read about language tags in section 3.1.3.1; come back, read the ABNF; follow to RFC4647; come back, and read the rest on associated quality values.

And with

> * The syntax section after the first paragraph points to RFC4647, Section 2.1, which defines the basic language range. But if only basic language ranges were accepted in the header (and extended language ranges were not), then the suggestion later in the section of using the extended filtering matching scheme would make little sense, as extended filtering is for extended language ranges.

the section doesn't say explicitly to use extended filtering; it just says that

> For matching, Section 3 of [RFC4647] defines several matching schemes.  Implementations can offer the most appropriate matching scheme for their requirements.  

Before I took that to mean that they were suggesting the "several matching schemes" in Section 3 of RFC4647 were appropriate for `Accept-Language`, which means Extended Filtering, which means extended language ranges, which conflicts with the link to RFC4647, Section 2.1, which points to the section on the basic language range. But the "several matching schemes" is a vague recommendation (without necessarily saying that all the matching schemes are appropriate for `Accept-Language`), whereas the link to RFC4647, Section 2.1 is precise (though still not without ambiguity; if they'd just said that it was a basic language range in the ABNF section, it'd be so much clearer).

So if we're to interpret it that way, that would mean that only basic language ranges are expected for the `Accept-Language` header. This would mean we don't need to implement Extended Filtering, and only need to implement Basic Filtering and Lookup.

That seems to me right now the most reasonable reading of the RFCs. What do you think? The thing is, I can see extended language ranges and extended filtering being useful for the `Accept-Language` header. My plan is to support basic language ranges in parsing, and implement Basic Filtering and Lookup first; we can discuss in the mean time whether we should support extended language ranges (I think not, and a search is not turning up any use of extended language ranges with the `Accept-Language` header. But there is an npm package that supports extended language ranges &mdash; I no longer think that is what the RFCs want though. Would welcome your opinion.)

Having re-read the RFC's I am still not entirely sure what they are trying to get across, but I agree with your suggestions:

- Implement basic languages ranges in parsing
- Implement basic language filtering and lookup

Then we can look at if extended languages ranges make sense, I have been trying to figure out if anyone else has implemented it and is actively using it, but it is hard to even find information about it.

Unless they made a mistake (and there's nothing in the errata to say they did), they very specifically linked to "[RFC4647] Section 2.1" Basic Language Range, so we can only assume that that is what they intended. There is an [npm package](https://www.npmjs.com/package/accept-language-negotiator) that appears to support extended language ranges and extended filtering, but unless I've really missed something, I can't see how anyone could argue against the link to Basic Language Range in the ABNF. If WebOb decides to support extended language ranges, it would be going above and beyond. (I think I tried to find examples of people using extended language ranges, and couldn't find anything either, but it's been a while since I looked.)

@TropicalPenguin I've just merged in the large change that @whiteroses made for an updated and RFC compliant handling of the Accept-Language header. Could you please give that a shot and see if it solves your issues?

If you have any questions, I am sure that @whiteroses or I can help you!

Yes, happy to help; for the specific case in this issue, I think `.lookup()` would give you the result you want.

Incredible. The collaboration here has been a joy to behold; thank you all.

I dropped the new code right into my pyramid-backed use case and `lookup` just worked.