Bug in parse_qsl_text

If you look at the code here: https://github.com/Pylons/webob/blob/master/webob/compat.py#L103-L113

You will see something like:

    qs = qs.encode('latin-1')
    for value in qs.split('&'):
        yield value.decode('utf-8')

This is unlikely to work.

```
>>> '©'.encode('latin-1').decode('utf-8') 
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa9 in position 0: invalid start byte
```

Any ideas?

The query string according to [RFC3986 Section 3.4](https://tools.ietf.org/html/rfc3986#section-3.4) has to match the following:

    query       = *( pchar / "/" / "?" )
    pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
    unreserved  = ALPHA / DIGIT / "-" / "." / "_" / "~"
    pct-encoded = "%" HEXDIG HEXDIG
    sub-delims  = "!" / "$" / "&" / "'" / "(" / ")" / "*" / "+" / "," / ";" / "="

Anything outside of these has to be URL encoded. The function should in a well behaving server/application never see unicode directly. Unfortunately the web and the standards surrounding it are built on top of `latin-1` or `US-ASCII`.

If this means that WebOb is broken somewhere else due to passing unicode data to this function, please re-open this bug.